#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
  border-radius: 1.25rem;
  background-color: rgba(255, 235, 205, 0.562);
}

.card {
  padding: 2em;
}

.counter{
  text-decoration: underline;
  font-size: 1.5rem;
}
